@import 'inc/roboto.scss';

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.left {float: left}
.right {float: right}

.clear, %clear {
    clear: both;
    &:after {
        display: table;
        content: ' ';
        clear: both;
    }
}

[contenteditable]:focus {
    outline: none
}

input[type=text], input[type=email] , input[type=password] {
    padding: 8px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    &:focus {
        outline: none
    }
}

#header {
    background: #fff;
    height: 60px;
    box-shadow: 0 0 3px #cecece;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 15px;
}

.disabled {
    pointer-events: none;
    opacity: .7;;
}

.logo {
    float: left;
    img {
        width: 50px;
        margin-top: 5px;
    }
}

.nav {
    margin: 0;
    float: right;
    li {
        float: left;
        list-style: none;
        line-height: 60px;
        a {
            margin-left: 10px;
        }
    }
}

.button, input[type=submit], .nav li a {
    background: #8e69a9;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    transition: background 0.18s;
    &:hover {
        background: #684980;
    }
}

.mid-form {
    margin: 0 auto;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 3px #b2b2b2;
    margin-top: 5%;
    padding: 15px;
    border-radius: 2px;
}

.form-title {
    text-transform: uppercase;
    font-size: 20px;
}

.form-row {
    margin: 10px;
    .form-label {
        float: left;
        line-height: 34px;
        width: 50%;
        text-align: right;
        margin-right: 10px;
        input[type=text], input[type=email], input[type=password] {
            width: 40%;
        }
    }
}

.dashboard {
    padding: 20px;
}

#overlay-messages {
    position: fixed;
    top: 65px;
    right: 10px;
    .success, .errors {
        transform: translateY(-50px);
        opacity: 0;
        transition: transform 0.3s, opacity .28s
    }
}

#overlay-messages .reset {
    transform: translateY(0px);
    opacity: 1;
}

.success, .errors {
    padding: 8px;
    font-size: 12px;
    margin: 10px 0;
    color: #fff;
    border-radius: 2px;
    li {
        list-style: none;
    }
}

.success {background: #67d398}
.errors {background: #ef5959}

#ContentPlaceHolder1_Login1 input[type=submit], .register input[type=submit] {
    width: 100%;
    height: 40px;
}

.home {
    .bold-line {
        color: #fff;
        font-size: 42px;
        line-height: 42px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .light-line {
        font-size: 24px;
        color: #fff;
        line-height: 24px;
        margin: 20px 0;
    }

    .spotlight {
        background: url(../images/bg.jpg);
        height: 600px;
        background-size: cover;
        .content {
            height: 600px;
        }
        .bold-line {
            padding-top: 30%;
        }
        .button {
            padding: 12px 15px;
            margin-top: 20px;
            display: block;
            float: left;
        }
    }
    .content {
        width: 800px;
        margin: 0 auto;
    }
    .features {
        background: #04172f;
        .content {
            padding: 30px;
        }
        .access .access-icon {
            display: inline-block;
            text-align: center;
            border: 1px solid #727272;
            padding: 40px 0;
            width: 150px;
            margin: 0 20px;
            border-radius: 50%;
            &:hover {
                background: #495666;
            }
        }

        .access {
            text-align: center;
        }

        .access-icon .fa {
            font-size: 40px;
            color: #fff;
            border-radius: 50%;
        }

        .access-icon .label {
            color: #fff;
            font-size: 20px;
            margin-top: 10px;
        }
        .features .light-line {font-size: 20px;color: #ffffff;}
        .features .bold-line {
            font-size: 24px;
        }
    }
    .social-access {
        background: #14171e;
        .content {
            padding: 20px;
        }
        .social-icons {
            text-align: center;
            a {
                display: inline-block;
                margin: 0 10px;
            }
            .fa {
                font-size: 24px;
                color: #fff;
            }
        }
        .content .bold-line {
            font-size: 24px;
            color: #eaeaea;
        }
    }
}

@import '_Login.scss';
@import '_Dashboard.scss';
@import 'inc/font-awesome.min.scss';

@media (max-width: 800px)
{
    #lists .sticky {
        width: 45%;
    }
}

@media (max-width: 500px)
{
    .mid-form {
        margin-top: 20px;
        border-radius: 0;
    }
    #header {
        text-align: center;
        height: auto;
    }
    .logo {
        float: none;
        display: block;
    }
    .nav {
        float: none;
        display: block;
        padding-left: 0;
        margin: 10px 0 15px 0;
        li {
            float: none;
            display: inline-block;
            line-height: 30px;
            a {
                margin: 0 5px;
            }
        }
    }
    .form-row .form-label {
        text-align: left;
    }
    .register .form-title {
        margin-top: 20px;
    }
}

@media (max-width: 420px)
{
    #new-list {
        width: auto;
        margin: 0 auto 35px auto;
    }
    #lists .sticky {
        width: 100%;
        margin-right: 0;
    }
}