@import 'inc/roboto.scss';

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.left {float: left}
.right {float: right}

#header {
    background: #fff;
    height: 60px;
    box-shadow: 0 0 3px #cecece;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 15px;
}

.nav {
    margin: 0;
    float: right;
    li {
        float: left;
        list-style: none;
        line-height: 60px;
        a {
            margin-left: 10px;
        }
    }
}

input[type=submit], .nav li a, .button {
    background: #8e69a9;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    transition: background 0.18s;
    &:hover {
        background: #684980;
    }
}

input[type=text], input[type=email] , input[type=password] {
    padding: 8px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    &:focus {
        outline: none
    }
}

.mid-form {
    margin: 0 auto;
    width: 500px;
    background: #fff;
    box-shadow: 0 0 3px #b2b2b2;
    margin-top: 10%;
    padding: 15px;
    border-radius: 2px;
}

.logo {
    float: left;
    img {
        width: 50px;
        margin-top: 5px;
    }
}

#ContentPlaceHolder1_Login1 {
    margin: 0 auto;
    table tbody {
        &>:first-child {
            display: none;
        }
        tr td {
            padding: 5px
        }
    }
}

.form-title {
    text-transform: uppercase;
    font-size: 20px;
}

.form-row {
    margin: 10px;
    .form-label {
        float: left;
        line-height: 34px;
        width: 200px;
        text-align: right;
        margin-right: 10px;
    }
}

.dashboard {
    padding: 20px;
}

.errors {
    background: #ef5959;
    padding: 8px;
    font-size: 12px;
    margin: 10px 0;
    color: #fff;
    border-radius: 2px;
    li {
        list-style: none;
    }
}

#ContentPlaceHolder1_Login1 input[type=submit], .register input[type=submit] {
    width: 100%;
    height: 40px;
}



.list {
    width: 30%;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    input[type=text] {
        background: transparent;
        width: 80%;
        border: 0;
        border-bottom: 1px solid #609460;
    }
}

.list-title {
    background: #60c760;
    padding: 0 8px;
    input[type=text] {
        width: 100%;
        padding: 8px 0;
        border: 0;
        border-bottom: 1px dotted #266626;
    }
}

.item {
    background: #a3c9a3;
    position: relative;
    input[type=checkbox] {
        margin-top: 5px;
        vertical-align: middle;
    }
    .remove-item {
        color: #7c7c7c;
        font-size: 11px;
    }
}

@import 'inc/font-awesome.min.scss';